<div class="panel panel-primary" style="background-color: #337ab7;">
  <h3 class="panel-body" id="header">Welcome to <span class="btn btn-info">DEL College</span> School Information System</h3>
</div>

<div style="text-align: center">
    <button type="button" data-toggle="modal" data-target="#create_student" class="btn btn-success">Create New Students' Resource</button>
</div><br>

<fieldset class="box">  
  <legend><i>Existing Students Resource</i></legend>
  <table class="table table-striped table-hover">
    <tr>
      <th>Matric. No.</th>      
      <th>Full Name</th>
      <th>Department</th>
      <th>Level</th>
      <th>Gender</th>
      <th>Hall</th>
      <th colspan="2">Actions</th>
    </tr>
    <tr *ngFor = "let student of students">
      <td>{{student.matric_no}}</td>
      <td>{{student.title}} {{student.surname}} {{student.first_name}}</td>
      <td>{{student.department}}</td>
      <td>{{student.level}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.hall_of_residence}}</td>      
      <td><input type="button" data-toggle="modal" target="_self" data-target="#edit_student" value = "Edit" class="btn btn-info"></td>
      <td><input type="button" onclick="return confirm_delete()" (click) = "deleteStudent(student._id)" value = "Delete" class="btn btn-danger"></td>
    </tr>
  </table>
</fieldset>

<!-- Create Modal -->
<div class="modal fade" id="create_student" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Student</h4>
      </div>
      <div class="modal-body">
        <form class="form" (submit) = "createStudent()">
          <fieldset class="box">
            <legend><i>You can create a new student resource</i></legend>
            <div class="form-group">
              <label>Title </label><br>
              <select [(ngModel)]="title" name="title" class="form-control">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Master">Master</option>
                <option value="Others">Others</option>        
              </select>     
            </div>
            <div class="form-group">
              <label>Surname </label><span><i> (Required)</i></span>
              <input type="text" [(ngModel)]="surname" name="surname" placeholder="Surname" class="form-control" required>
            </div>
            <div class="form-group">
              <label>First Name </label><span><i> (Required)</i></span>
              <input type="text" [(ngModel)]="first_name" name="first_name" placeholder="First Name" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Middle Name </label>
              <input type="text" [(ngModel)]="middle_name" name="middle_name" placeholder="Middle Name" class="form-control">
            </div>
            <div class="form-group">
              <label>Gender </label><span><i> (Required)</i></span><br>
              Male <input type="radio" [(ngModel)]="gender" name="gender" value="Male" required>
              Female <input type="radio" [(ngModel)]="gender" name="gender" value="Female" required>
            </div>
            <div class="form-group">
              <label>Phone Number </label><span><i> (Required)</i></span>
              <input type="text" [(ngModel)]="phone_no" name="phone_no" placeholder="Phone Number" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Email </label><span><i> (Required)</i></span>
              <input type="email" [(ngModel)]="email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Department </label><span><i> (Required)</i></span>
              <input type="text" [(ngModel)]="department" name="department" placeholder="Department" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Programme </label><span><i> (Required)</i></span><br>
              <select [(ngModel)]="programme" name="programme" class="form-control" required>
                <option value="Undergraduate">Undergraduate</option>
                <option value="Masters">Masters</option>
                <option value="Ph.D">Ph.D</option>
                <option value="Foundation">Foundation</option>        
              </select>      
            </div>
            <div class="form-group">
              <label>Entrying Level </label><span><i> (Required)</i></span>
              <select [(ngModel)]="level" name="level" class="form-control" required>
                <option value="100L">100L</option>
                <option value="200L">200L</option>
                <option value="Masters">Masters</option>
                <option value="Ph.D">Ph.D</option>        
                <option value="Foundation">Foundation</option>        
              </select>      
            </div>
            <div class="form-group">
              <label>Marital Status </label><span><i> (Required)</i></span>
              <select [(ngModel)]="marital_status" name="marital_status" class="form-control" required>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Others">Others</option>
              </select>      
            </div>
            <div class="form-group">
              <label>Date Of Birth </label><span><i> (Required)</i></span>
              <input type="date" [(ngModel)]="date_of_birth" name="date_of_birth" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Religion </label><span><i> (Required)</i></span>
              <select [(ngModel)]="religion" name="religion" class="form-control" required>
                <option value="Christian">Christian</option>
                <option value="Muslim">Muslim</option>
                <option value="Traditionalist">Traditionalist</option>        
                <option value="Others">Others</option>        
              </select>      
            </div>
            <div class="form-group">
              <label>Nationality </label><span><i> (Required)</i></span>
              <input type="text" [(ngModel)]="nationality" name="nationality" placeholder="Nationality" class="form-control" required>
            </div>
            <div class="form-group">
              <label>State of Origin </label><span><i> (Required)</i></span>
              <input type="text" [(ngModel)]="state_of_origin" name="state_of_origin" placeholder="State of Origin" class="form-control" required>
            </div>
            <label>Comments </label>
            <textarea [(ngModel)]="comments" name="comments" placeholder="Any other information ..?" class="form-control"></textarea><br>
            <button type="submit" name="submit" class="form-control btn btn-success">Create Student</button><br>
          </fieldset>
        </form>
      </div>
    </div>
 </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit_student" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-warning">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Student</h4>
      </div>
      <div class="modal-body">			              
        <form class="form" (submit) = editStudent(student._id)>
          <fieldset class="box">
            <legend><i>You can edit this student resource</i></legend>
            <div class="form-group">
              <label>Title </label><br>
              <select ngModel="student.title" name="title" class="form-control">
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Master">Master</option>
                <option value="Others">Others</option>        
              </select>     
            </div>
            <div class="form-group">
              <label>Surname </label><span><i> (Required)</i></span>
              <input type="text" ngModel="student.surname" name="surname" placeholder="Surname" class="form-control" required>
            </div>
            <div class="form-group">
              <label>First Name </label><span><i> (Required)</i></span>
              <input type="text" ngModel="student.first_name" name="first_name" placeholder="First Name" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Middle Name </label>
              <input type="text" ngModel="student.middle_name" name="middle_name" placeholder="Middle Name" class="form-control">
            </div>
            <div class="form-group">
              <label>Gender </label><span><i> (Required)</i></span><br>
              Male <input type="radio" ngModel="student.gender" name="gender" value="Male" required>
              Female <input type="radio" ngModel="student.gender" name="gender" value="Female" required>
            </div>
            <div class="form-group">
              <label>Phone Number </label><span><i> (Required)</i></span>
              <input type="text" ngModel="student.phone_no" name="phone_no" placeholder="Phone Number" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Email </label><span><i> (Required)</i></span>
              <input type="email" ngModel="student.email" name="email" placeholder="Email" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Department </label><span><i> (Required)</i></span>
              <input type="text" ngModel="student.department" name="department" placeholder="Department" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Programme </label><span><i> (Required)</i></span><br>
              <select ngModel="student.programme" name="programme" class="form-control" required>
                <option value="Undergraduate">Undergraduate</option>
                <option value="Masters">Masters</option>
                <option value="Ph.D">Ph.D</option>
                <option value="Foundation">Foundation</option>        
              </select>      
            </div>
            <div class="form-group">
              <label>Entrying Level </label><span><i> (Required)</i></span>
              <select ngModel="student.level" name="level" class="form-control" required>
                <option value="100L">100L</option>
                <option value="200L">200L</option>
                <option value="Masters">Masters</option>
                <option value="Ph.D">Ph.D</option>        
                <option value="Foundation">Foundation</option>        
              </select>      
            </div>
            <div class="form-group">
              <label>Marital Status </label><span><i> (Required)</i></span>
              <select ngModel="student.marital_status" name="marital_status" class="form-control" required>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Others">Others</option>
              </select>      
            </div>
            <div class="form-group">
              <label>Date Of Birth </label><span><i> (Required)</i></span>
              <input type="date" ngModel="student.date_of_birth" name="date_of_birth" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Religion </label><span><i> (Required)</i></span>
              <select ngModel="student.religion" name="religion" class="form-control" required>
                <option value="Christian">Christian</option>
                <option value="Muslim">Muslim</option>
                <option value="Traditionalist">Traditionalist</option>        
                <option value="Others">Others</option>        
              </select>      
            </div>
            <div class="form-group">
              <label>Nationality </label><span><i> (Required)</i></span>
              <input type="text" ngModel="student.nationality" name="nationality" placeholder="Nationality" class="form-control" required>
            </div>
            <div class="form-group">
              <label>State of Origin </label><span><i> (Required)</i></span>
              <input type="text" ngModel="student.state_of_origin" name="state_of_origin" placeholder="State of Origin" class="form-control" required>
            </div>
            <label>Comments </label>
            <textarea ngModel="student.comments" name="comments" placeholder="Any other information ..?" class="form-control"></textarea><br>
            <button type="submit" name="submit" class="form-control btn btn-primary">Create Student</button><br>
          </fieldset> 		
        </form>
      </div>    
    </div>
 </div>
</div>